@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@font-face {
  font-family: LithosPro;
  src: url(LithosProRegular.ttf);
}

body {
  font-family: 'Open Sans', 'Bree Serif', sans-serif;
  padding-top: 54px;
  margin: 0;
}


@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
 
.translations {
  margin-top: 20px;
}

#logo {
    font-family: 'LithosPro';
    letter-spacing: -1px;
    height: 40px;
}
