@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
    font-family: 'Open Sans', 'Bree Serif', sans-serif;
    padding: 0;
    margin: 0;
}

#logo {
    height: 30px;
}

.logo_wrap {
    padding: 8px;
}

.contentbody {
    /*margin-top: 80px;*/
    min-height: 200px;
    padding: 0;
    margin: 73px 0 0 0;
    width: 98%;
}

.title {
    line-height: 2em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 100px;
    background: #212529;
}

footer p {
    text-align: center;
}

.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #212529;/*rgba(0, 0, 0, 0.7);*/
}

.navbar-custom .navbar-brand {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #fff;
}


/* carousel */

.backcolor {
    color: black;
    font-size: 2rem;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 4px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    /*border-radius: 50%;*/
    background-color: #212529;
    box-shadow: inset 1px 1px 1px 1px #212529;
}

.carousel-indicators .active {
    /*width: 8px;
    height: 8px;
    margin: 10px;*/
    background-color: #fff;
}

div.slide_content {
    height:600px;
    overflow:hidden;
    display:block;
}

.single_content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}