
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
    font-family: 'Open Sans', 'Bree Serif', sans-serif;
}

#logo {
    height: 40px;
}

.logo_wrap {
    padding: 8px;
}

.contentbody {
    margin-top: 64px;
    min-height: 1000px;
}