
body {
  padding-top: 54px;
}

@font-face {
  font-family: LithosPro;
  src: url(LithosProRegular.ttf);
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@media (max-width: 992px) {
  #selectors {
    overflow: scroll;
    max-height: 200px;
  }
}


#logo {
  font-family: 'LithosPro';
  letter-spacing: -1px;
  height: 40px;
}